<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

<title>Online Tutor Login</title>
	<meta name="google-signin-scope" content="profile email">

    <meta name="google-signin-client_id" content="273482326455-gula3m9b8i7q8ktt397tqv360r9rl85g.apps.googleusercontent.com">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://apis.google.com/js/platform.js" async defer></script>

	<link rel="stylesheet" type="text/css" href="css/Login.css">
</head>
<body>

	<div class="loginbox">

	<img src="../img/Avatar.png" class="avatar">

		<h1>Login</h1>

		<form>

			<p>Username</p>

			<input type="password" name="" placeholder="Enter Username"><br>

			<p>Password</p>

			<input type="password" name="" placeholder="Enter Password"><br>

			<input type="submit" class="Login" value="Submit">

			<h2 class="or">OR</h2>

			<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

			<div class="account">
			<a href="#" class="account">Don't have an Account?</a><br>
			</div>

			<div class="password">
			<a href="#" class="password">Forgot Password?</a>
			</div>

		</form>

</body>


</html>
